<div class="card text-center" id="carta">
  <div class="card-header">
    <img src="{{data.equipoSeleccionado.fotoEscudo}}" id="escudo">
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre: {{data.equipoSeleccionado.nombre}}</h5>
    <h5 class="card-title">TLA: {{data.equipoSeleccionado.abreviatura}}</h5>
    <h5 class="card-title">Estadio: {{data.equipoSeleccionado.estadio}}</h5>
    <h5 class="card-title">Direccion: {{data.equipoSeleccionado.direccion}}</h5>
    <h5 class="card-title">Pais: {{data.equipoSeleccionado.pais}}</h5>
    <h5 class="card-title">Fundacion: {{data.equipoSeleccionado.anoFundacion}}</h5>
    <h5 class="card-title">Id: {{data.equipoSeleccionado.numeroId}}</h5>
    <h5 class="card-title">Telefono: {{data.equipoSeleccionado.telefono}}</h5>
    <h5 class="card-title">Sitio Web: {{data.equipoSeleccionado.website}}</h5>
    <a href="/" class="btn btn-dark">Volver a la lista</a>
  </div>
</div>
