<table id="tablaEquipos" class="table table-dark">
    <form method="GET">
  <thead>
    <tr>
      <th scope="col">Escudo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fundacion:</th>
      <th scope="col">Pais:</th>
      <th scope="col">Editar:</th>
      <th scope="col">Ver:</th>
      <th scope="col">Eliminar:</th>
    </tr>
  </thead>
  <tbody>
      {{#each listaEquipos as |equipo|}}
    <tr>
      <td><img src="{{equipo.fotoEscudo}}" class="escudoEquipo"></td>
      <td>{{equipo.nombre}}</td>
      {{#if equipo.anoFundacion}}
          <td>{{equipo.anoFundacion}}</td>
      {{else}}
      <td>????</td>
      {{/if}}
      <td>{{equipo.pais}}</td>
      <td>
        <form id="editar-equipo" method="GET" action="/editar-equipo/id={{equipo.numeroId}}">
          <button type="submit" class="btn btn-warning">Editar</button>
        </form>
      </td>
      <td>
        <form id="editar-equipo" method="GET" action="/ver-equipo/id={{equipo.numeroId}}">
          <button type="submit" class="btn btn-success">Ver</button>
        </form>
      </td>
      <td>
        <form id="borrar-equipo" method="GET" action="/borrar-equipo/id={{equipo.numeroId}}">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
    </tr>
    {{/each}}
    
  </tbody>
  </form>
</table>


